html{
    background-color: var(--main-background);
}
body{
    background-color: var(--main-background) !important;
}
.posts-wrapper::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.posts-wrapper::-webkit-scrollbar-track {
    background: var(--main-button);
    /* color of the tracking area */
}

.posts-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--main-background);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--main-background-hover);
    /* creates padding around scroll thumb */
}

.write-post-wrapper{
    text-align: center;
}
@media (max-width:600px) {
    .write-post-wrapper{
        text-align: left;
    }
}

@media (min-width:600px) {
    
    .write-post-wrapper{
        text-align: left;
    }
    
}
@media (min-width: 768px) {
    .write-post-wrapper{
        text-align: center;
    }
}
.profile-card{
    font-weight: 500;
}

#right-col{
    position: sticky;
    top: 0;
}

/********** Start Post **********/
.posts-wrapper{
    /* overflow-y: scroll; */
    width: 100%;
}
.post-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-info-wrapper{
    display: flex;
    flex-direction: row;
}
.post-info-avatar .avatar{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.post-info-meta{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.post-info-meta p{
    margin-bottom: 3px;
}
.post-img-wrapper{
    border-radius: 2px solid var(--main-background);
    -webkit-border-radius: 2px solid var(--main-background);
    -moz-border-radius: 2px solid var(--main-background);
    -ms-border-radius: 2px solid var(--main-background);
    -o-border-radius: 2px solid var(--main-background);
}
.post-img{
    max-height: 400px;
}
/********** End Post **********/