* {

    border-radius: 2px;
    /*font-family: 'Trebuchet MS', sans-serif;*/
    color: #FFFFFF;

}

body {
    background-color: var(--main-background);
    position: relative;
}


#exploreandsearch {
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 10px;
    margin-top:0px;
    
}

#explorearea {
    height: fit-content;
    margin-top: 15px;
    background-color: var(--main-post-inner);
    padding: 10px;
}

#searchBar {
    width: 100%;
    background-color: var(--main-post-inner);
    color: #FFFFFF;
    border-color: #000000;
    border: 0px;
    padding: 10px;
    padding-left: 35px;
    background-image: url(assets/search-icon.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    background-size: 15px;
}

#exploretext {
    color: #FFFFFF;
}

img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

table {
    margin: auto;
    width: fit-content;
    border-spacing: 3px;
}


p {
    white-space: pre-wrap;
}

a:hover {
    text-decoration: underline;
}

#searchbtn {
    background-color: var(--main-button);
    width: fit-content;
    color: #FFFFFF;
    border-color: #000000;
    border: 7px;
    padding: 10px;
    margin-top: 30px;
}
