@import "index.css"; 
* {

    border-radius: 2px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #FFFFFF;

}

body {
    background-color: var(--main-background);
    position: relative;
}

#posts_table{
    background-color: var(--main-post-inner);
    align-items: center;
    align-self: center;
    padding: 10px;
    border:#FFFFFF ;
    border: "4";
    margin-left: 400px;
    margin-top: 400px;
}








 