@import "index.css"; 
* {
    border-radius: 2px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #FFFFFF;

}

body {
    background-color: var(--main-background);
    position: relative;
}

#posts_table{
    background-color: var(--main-post-inner);
    padding: 10px;
    border:#FFFFFF ;
    border: "4";

}

.post_images{
    width: 300px;
    height: 300px;
    align-items: center;
    padding: 5px;
}

.post_images:hover{
    cursor: pointer;
}



#grid_icon{
    width: 30px;
    height: 30px;
    align-self: center;
}

.header_section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile_details{
margin-top: 30px;
margin-left: 40px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
color:var(--main-text-color);

}

.username{
font-size: x-large;
font-style: normal;
}

.name{
font-size: xx-large;
font-weight: bold;
}


.bio{
    font-size: large;
    }

#profile_pic{
    height: 150px;
    width:150px ;
    border-radius: 205px;
    border-style: solid;
    border-width: 4px;
    border-color: #FFFFFF; 
}

.editprofile{
    height: 60px;
    width: 200px;

    text-decoration: none;
   background-color: var(--main-post-inner);
    transition: 0.25s linear;
    
    font-size: large;
    border-radius: 15px;
    border: #FFFFFF;
    font-weight: bolder;

    margin-right: 300px;
    margin-left: 50px;
    margin-top: 250px;
}
.friendlist{
    height: 60px;
    width: 200px;
    
    text-decoration: none;
    background-color: var(--main-post-inner);
    transition: 0.25s linear;
    border-radius: 15px;
    border: #FFFFFF;
    font-weight: bolder;
    margin-left: 300px;
    margin-right: 50px;
    margin-top: 250px;
    font-size: large;

    
}
.friendlist:hover{
    background: var(--main-button-hover);
    cursor: pointer;
}

.editprofile:hover{
    background: var(--main-button-hover);
    cursor: pointer;
}

#editprofile_icon{
    width: 20px;
    height: 20px;
    text-align: center;
    padding-right: 20px;
}

#friendlist_icon{
    width: 20px;
    height: 20px;
    text-align: center;
    padding-right: 20px;

}























 