
*{
    font-family: 'Nunito', sans-serif  ;
  }
  .Forget-box {
      color: var(--main-post);  
      width: 350px;
      height: 470px;
      margin: auto;
      margin-block-start: 50px;
      border-radius: 15px;
      background: linear-gradient(45deg,var(--main-background),var(--main-post),var(--main-background));
  
   
    }
    
  
  body {
    
      background: linear-gradient(45deg, var(--main-background),transparent) ,repeating-linear-gradient(45deg,var(--main-button), var(--main-background));
    
    }
  
    
    
    h1 {
    
      color: var(--main-text-color);
      text-align: center;
      padding-top: 15px;
    
    }
    
    
    form {
      width: 300px;
      margin-left: 20px;
    }
    
    form label {
      color: var(--main-text-color);
      display: flex;
      margin-top: 20px;
      font-size: 18px;
    
    }
   
  
    form input {
      width: 100%;
      padding: 7px;
      border: none;
      border-radius: 15px;
      outline: none;
    }
    input[type="button"] {
      width: 250px;
      height: 35px;
      border: 2px solid var(--main-button-hover);
      border: none;
      background-color: var(--main-button);
      color: white;
      font-size: 18px;
      border-radius: 15px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-left: 30px;
      margin-top: 20px;
        
    }
  
    p {
      text-align: center;
      font-size: 15px;
      color: var(--main-text-color);
      margin-top: 15px;
    }
  
  
  a{
      color: var(--main-button);
      text-decoration: underline;
  }

  .errormsg{
    color:red;
    opacity: 0;
  }
  
  
  a:hover{
      color:var(--main-button-hover);
      text-decoration: underline;
  
  }