@import "index.css"; 

body{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100;
  background:var(--main-background);
  transition: 0.5s; 
  position: relative;
  }

  * {
    border-radius: 2px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #FFFFFF;

}

  
  body.active{
  background: #fff;
  
  }
  
  .container {
      position: relative;
      width: 800px;
      height: 500px;
      margin: 20px;
  }
  
  .Bg1{
  position: absolute;
  top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height:420px; 
  background: var(--main-background);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
  }
.imageBtn{
color: #fff;
cursor: pointer;
background: var(--main-button);
border: none;
border-radius: 20px;
padding: 10px 20px;

}

.captionBtn{
  color: #fff;
cursor: pointer;
background: var(--main-button);
border: none;
border-radius: 20px;
padding: 10px 20px;
}

.imageBtn:hover{
  background-color: var(--main-button-hover);

}


.captionBtn:hover{
  background-color: var(--main-button-hover);

}

  .blueBg .box {
    position: relative;
    width: 50%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
    .blueBg .box h2{
    color: #fff ;
    font-size: large;
    margin-bottom: 10px;
    }
    
    .blueBg .box button{
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    color:var(--main-button); 
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    }

    .blueBg .box button:hover{
      cursor: pointer;
      color: var(--main-button-hover);
    }

    